# Blogarize Specific
uploads/
logs/*.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs/
*.sdist/
*.dirstamp
*.pyc
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
.env

# Flask
instance/
.webassets-cache

# Celery
celerybeat-schedule
celerybeat.pid

# RabbitMQ
.mnesia/
log/

# React / Node.js
node_modules/
npm-debug.log
yarn-error.log
/build/

# IDEs and editors
/.vscode
*.swp
*.swo
*.swn
*.bak
*.bak.*
~$*
*.tmp
*.tmp.*
*.tlog
*.log
*.suo
*.user
*.userosscache
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
.jfm
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools
*.idea/
*.iml
*.ipr
*.iws
*.svb
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/
*.ncb
*.sdf
*.suo
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.bak.*
*.[Cc]ache
*.bak
*.tlog
*.vspscc
*.vssscc
.ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/